<!DOCTYPE html>
<html>
<head>
    <title>Clan Battle</title>
  <script type='text/javascript' src='https://cdn.scaledrone.com/scaledrone.min.js'></script>
  <meta charset="utf-8">
  <link href="../static/css/all.css" rel="stylesheet">
<meta name="viewport" content="width=1280,initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="icon" 
      type="image/png" 
      href="https://cdn2.iconfinder.com/data/icons/electronics/512/Game_Controller-512.png">
      </head>
<body>
    <ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/rankings">Rankings</a></li>
  <li><a href="/play">BestPlay</a></li>
  <li><a href="/freeAgents">FreeAgents</a></li>
  <li><a href="/chat">Chatroom</a></li>
</ul>
    <div class="jumbotron text-center">
  <h1>Free Agents</h1>
</div>
<div class ="container">
    
    <iframe width="900" height="715"align="middle"
src="https://docs.google.com/spreadsheets/d/1zwJ5W59wo5bdNGU_Fc_ceYToHKvrXJI3705m2x7HLxw/edit?usp=sharing">
</iframe>
  <!--Enter Psn Name:<br>-->
  <!--<input type="text" name="PSN"id="PSN">-->
  <!--<input type="submit" value="Submit"onclick="JavaScript:handleClick()">-->
</div>
     <!--<div id="tablePrint"> </div>-->
</body>
// <script>
// var tracker=0;
// var agents=[];
//     function handleClick(event){
//         //alert("inside");
        
//       var value= document.getElementById("PSN").value;
      
//       if(value==''){
//           alert("Must enter a correct PSN name");
//       }
//       else{
//           agents[tracker]=value;
//          // alert(agents[tracker]);
//           var myTable = '<table>';
//           myTable += '<tr>';
//           myTable += '<th>';
//           myTable += 'PSN Name';
//           myTable += '</th>';
//           myTable += '</tr>';
          
//           for(var i=0;i<agents.length;i++){
//               myTable += '<tr>';
//              myTable += '<td>';
//           myTable += agents[i];
//           myTable += '</td>';
//           myTable += '</tr>';
//           }
         
//           myTable += '</table>';
//           document.getElementById('tablePrint').innerHTML = myTable;
//           tracker++;

//       }
      
//         //alert(value);
//     }
// </script>
</html>