<!DOCTYPE html>
<html>
   <head>
      <title>Clan Battles</title>
      <script type='text/javascript' src='https://cdn.scaledrone.com/scaledrone.min.js'></script>
      <meta charset="utf-8">
      <link href="../static/css/all.css" rel="stylesheet">
      <meta name="viewport" content="width=1280,initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="icon" 
         type="image/png" 
         href="https://cdn2.iconfinder.com/data/icons/electronics/512/Game_Controller-512.png">
   </head>
   <body>
      <script>
         window.onload=function(){
             $(".loader").fadeOut("slow");
         }
      </script>
      <div class="loader" id="loader" style="display:block;"></div>
      <ul>
         <li><a class="active" href="/">Home</a></li>
         <li><a href="/rankings">Rankings</a></li>
         <li><a href="/play">BestPlay</a></li>
         <li><a href="/freeAgents">FreeAgents</a></li>
         <li><a href="/chat">Chatroom</a></li>
         <li><a href="/rosters">Rosters</a></li>
      </ul>
      <div class="jumbotron text-center">
         <h1>Clan Battle Rules</h1>
      </div>
<table class = "center">
  <tr>
    <td><strong>Guns</strong></td>
    <td>All asault rifles</td>
    <td>All sub machine guns</td>
    <td>All sniper rifles</td>
    <td>All tactical rifles</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><strong>Maps</strong></td>
    <td>Arsenal</td>
    <td>Firing Range</td>
    <td>Frequency</td>
    <td>Gridlock</td>
    <td>Hacienda</td>
    <td>Payload</td>
    <td>Seaside</td>
  </tr>
  <tr>
    <td><strong>Equipment</strong></td>
    <td>Grenades</td>
    <td>Stim Shot</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><strong>General Rules</strong></td>
    <td>1:30 Minutes</td>
    <td>Kill cam enabled</td>
    <td>Silent plant enabled</td>
    <td>Third person disaabled(Gestures too)</td>
    <td>Dynamic map elements disabled</td>
    <td>Battle chatter disabled</td>
    <td>Specialist Disabled</td>
  </tr>
</table>
      <script src="../static/script.js"></script>
   </body>
   <div id="footer"></div>
</html>